.category-bar li{
list-style: none;
}
.category-bar > ul{
    border-radius: 10px;
    border: 2px solid #292929;
    display: grid;
    grid-template-columns: repeat(7, 10rem);
    grid-template-rows: 3rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
li{
    align-self: center;
    justify-self: center;
}