*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: blanchedalmond;
}
.btn-sty-1{
  background-color: #975d11;
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  width: 5rem;
  height: 2rem;
  margin-right: .5rem;
}
.btn-sty-2{
  border: 2px solid #975d11;
  border-radius: 10px;
  background:none;
  width: 5rem;
  height: 2rem;
  margin-right: .5rem;
}